<div id="<%= dom_id point_of_interest %>">
  <p>
    <strong>Title:</strong>
    <%= point_of_interest.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= point_of_interest.description %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= point_of_interest.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= point_of_interest.longitude %>
  </p>

</div>
